# IDEs and editors
.idea
.vscode

# build output
dist
unpackage
node_modules
**/.vitepress/dist
**/.vitepress/cache

# IDEs and editors
.idea
.vscode

# lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# others
.DS_Store