$loading: 't-loading';

$loading-color: $brand-color;
$loading-text-color: $text-color-primary;
$loading-text-font-size: 12px;
$loading-text-line-height: 20px;

.#{$loading} {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 12px;

	&__spinner {
		transform: rotate(0deg);
		transition-property: transform;
		transition-duration: 3600s;
		transition-timing-function: linear;

		&--dots {
			display: flex;
			justify-content: space-between;
			align-items: center;
			animation: none;

			.#{$loading}__dot {
				width: 20%;
				height: 20%;
				border-radius: 50%;
				background-color: $loading-color;
				animation-duration: 1.8s;
				animation-name: dotting;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				animation-fill-mode: both;
			}
		}
	}

	&__text {
		color: $loading-text-color;
		font-size: $loading-text-font-size;
		line-height: $loading-text-line-height;
	}

	&--vertical {
		flex-direction: column;
	}

	&--horizontal {
		flex-direction: row;
		vertical-align: top;
	}
}
